.nav-section, .bottom-border, #main-nav .main-navs {
  border-bottom: 1px solid #ccc; }

.header-loginbtn, .aside-loginbtn {
  cursor: pointer;
  outline: none; }

header .header-outer .header-inner, header .header-outer .header-content .header-details, nav, aside .aside-content, aside .aside-content div, #main-nav .main-navs, .section-content, .one, .sec2, .sec2-content, #icons, #section1, #tabs, .backdrop .back, .sec-3, .sec-3 > *, #alpha, .alpha-outer-container, .alpha-inner-container {
  display: flex; }

.add-background {
  background-color: #037ef3;
  transition: 0.5s;
  z-index: 1; }

.disable {
  pointer-events: none;
  opacity: 0.3; }

* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0; }

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Assets/back.jpg");
  overflow: hidden;
  width: 100%; }
  header .header-outer {
    background-color: rgba(0, 0, 0, 0.7); }
    header .header-outer .header-inner {
      height: 50px;
      position: fixed;
      width: 100%;
      justify-content: space-around; }
      header .header-outer .header-inner.add-background .header-navbtn {
        background-color: white;
        color: #037ef3;
        transistion: 0.2s; }
    header .header-outer .header-content {
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      header .header-outer .header-content .header-details {
        flex-direction: column;
        text-align: center; }

nav.header-navs > a, #footer-nav .footer-msg > a {
  letter-spacing: 1px;
  font-size: 17px;
  text-decoration: none;
  color: #ffffff;
  font-weight: lighter;
  margin: 15px 7px; }

.heading {
  margin-bottom: 2px;
  color: #ffffff;
  padding-top: 100px;
  font-size: 36px; }

.sub-heading {
  color: #ffffff;
  padding: 10px;
  font-size: 20px; }

.header-loginbtn, .aside-loginbtn {
  margin: 20px auto 120px auto;
  font-size: 20px;
  border: none;
  color: #037ef3;
  background: none;
  border-radius: 2px;
  padding: 15px 40px;
  min-width: 100px;
  background-color: #ffffff; }
  .header-loginbtn:hover, .aside-loginbtn:hover {
    background-color: #037ef3;
    color: #ffffff; }

.active {
  padding-bottom: 26px;
  padding-top: 20p;
  color: #1c7ef4;
  border-bottom: 2px solid #1c7ef4; }

.divider {
  border-radius: 2px;
  border-left: 3px solid white;
  height: 40px;
  margin-top: 5px; }

.header-navbtn {
  font-size: 17px;
  color: #ffffff;
  margin: 10px 5px;
  cursor: pointer;
  border: none;
  background: #037ef3;
  border-radius: 2px; }

#logo {
  height: 43px; }

i {
  vertical-align: middle; }

.responsive-nav {
  display: none;
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0px;
  z-index: 1;
  height: 50px;
  transition: 0.5s;
  overflow: hidden; }
  .responsive-nav.expand-list {
    display: block;
    height: 100%;
    transition: 0.3s; }

.nav-wrapper {
  background-color: #ffffff; }

.res-navbar {
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  box-shadow: 0px 0px 3px 0px rgba(122, 122, 122, 0.8); }

.resp-navs {
  margin-top: 5px;
  padding-bottom: 30px;
  background-color: #ffffff;
  height: 200px;
  width: 100%; }

.nav-alpha {
  color: #037ef3;
  margin: 0;
  font-size: 33px;
  padding: 5px 15px;
  font-style: italic; }

.nav-section {
  margin: auto;
  width: 90%;
  padding: 15px 0;
  display: flex;
  flex-direction: column; }

.nav-list {
  padding: 15px 0 0 20px;
  letter-spacing: 0px;
  font-size: 18px;
  text-decoration: none;
  color: #4A4A4A;
  font-weight: 400; }

.fa {
  color: #ccc;
  padding: 0 10px; }

.aside-loginbtn {
  color: #ffffff;
  background-color: #037ef3;
  padding: 15px;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  margin: 10px auto;
  border: 1px solid #037ef3; }
  .aside-loginbtn:hover {
    background-color: #ffffff;
    color: #037ef3; }

aside {
  position: absolute;
  height: auto;
  width: 400px;
  background-color: #ffffff;
  height: auto;
  top: auto;
  left: auto;
  right: 0;
  border-color: #ccc;
  border-left-style: solid;
  border-left-width: 0.1px;
  border-right-style: solid;
  border-right-width: 0.1px;
  border-bottom-style: solid;
  border-bottom-width: 0.1px;
  border-top-width: none;
  box-shadow: 4px 4px 10px 0 rgba(122, 122, 122, 0.3);
  float: right; }
  aside .aside-content {
    flex-direction: column;
    margin: auto;
    width: 90%; }
    aside .aside-content img {
      margin: auto;
      height: 125px;
          max-width: 100%;
      width: 250px; }
    aside .aside-content div {
      width: 100%;
      flex-direction: column;
      margin-left: auto; }
      aside .aside-content div .first {
        align-items: flex-start;
        margin: 10px auto; }
      aside .aside-content div .second, aside .aside-content div .third {
        justify-content: space-evenly;
        flex-flow: row;
        margin: 10px auto; }
        aside .aside-content div .second #duration, aside .aside-content div .third #duration {
          padding-top: 16px; }
      aside .aside-content div .third {
        justify-content: space-between; }

.aside-head {
  color: #9b9b9b;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 15px; }

.aside-p {
  margin: 5px; }

.bottom-border {
  padding-bottom: 10px; }

h6 {
  font-size: 15px;
  margin-top: 5px; }

.reducedInequalities {
  display: flex; }

.reducedInequalities-icon {
  background-image: url("../Assets/reduced-image.png");
  height: 70px;
  width: 70px;
  background-size: contain; }

.reducedInequalities-text {
  width: 60%; }

.reducedInequalities-link {
  margin-top: 5px;
  letter-spacing: 0px;
  font-size: 12px;
  text-decoration: none;
  color: #037ef3;
  font-weight: 400; }

.reducedInequalities-side {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center; }

#main-nav {
  position: absolute;
  height: 45px;
  width: 800px;
  background-color: #ffffff;
  top: auto;
  left: auto; }
  #main-nav .main-navs {
    justify-content: space-around;
    height: 100%; }
    #main-nav .main-navs > a {
      letter-spacing: 0.5px;
      font-size: 17px;
      text-decoration: none;
      color: black;
      font-weight: 400;
      margin: 10px 5px; }

.article {
  position: relative; }
  .article .main-content {
    width: 750px;
    padding-top: 40px; }
    .article .main-content > * p {
      margin: 8px 0;
      font-weight: 400; }
    .article .main-content > * li {
      font-size: 17px;
      font-weight: 400;
      padding: 8px 0; }

.head, .head1, .head2, .head3 {
  font-size: 20px;
  font-weight: 400; }

.head1 {
  font-size: 17px;
  padding-top: 20px; }

.head2 {
  font-size: 17px;
  padding-top: 20px; }

.head3 {
  font-size: 15px;
  padding-top: 20px; }

.head4 {
  font-size: 12px;
  padding-top: 20px;
  font-weight: lighter; }

main {
  color: #4A4A4A;
  margin: 0 120px;
  background-color: #ffffff;
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.side-header {
  width: 140px; }

.side-content {
  top: 0;
  margin-left: auto;
  width: 552px; }

.section-content {
  margin: 20px auto; }

section {
  margin-top: 50px; }

.map {
  height: 150px;
  background-color: beige; }

.one {
  margin-top: 50px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.45);
  background-color: #ffffff;
  height: 400px;
  flex-wrap: wrap; }

.map-inner {
  width: 100% !important;
  height: 100% !important; }

.footer-head {
  text-align: center;
  font-weight: 500;
  color: #555;
  font-style: italic;
  font-size: 30px; }

.sec1 {
  height: 400px;
  width: 450px;
  background-color: #fafafa; }

.sec2 {
  height: 400px;
  width: 750px;
  background-color: #fafafa;
  align-items: center; }

p.section-text {
  text-align: center;
  font-size: 20px;
  font-family: 'Bellefair', serif;
  font-style: italic;
  margin: 20px; }

.sec2-content {
  flex-direction: column;
  margin: 10px; }

#icons {
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 20px; }
  #icons div > img * {
    width: 50px; }
  #icons div p {
    text-align: center; }

.sec1-tab {
  padding: 15px;
  height: auto;
  width: 30%;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px 0 rgba(122, 122, 122, 0.3);
  border-top: 5px solid #037ef3; }

.tabs {
  text-align: center;
  font-size: 20px; }

.tab-text {
  color: #4A4A4A;
  font-size: 16px;
  text-align: center;
  padding: 25px; }

.sec2-tab {
  height: 320px;
  width: 320px;
  background-color: #fafafa;
  transition: 0.5s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.45);
  margin: 20px 0; }

.sec2-tab:hover {
  box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.45); }

#section1 {
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #section1 > * {
    margin: 20px; }

footer {
  width: 1200px;
  margin-top: 50px;
  width: 100%;
  background-color: #f9f9f9; }

#footer-section {
  margin-left: auto;
  margin-right: auto; }
  #footer-section > * {
    margin: 50px 0px; }
  #footer-section:first-child {
    padding: 20px 0; }

#tabs {
  justify-content: space-evenly;
  flex-wrap: wrap; }

.backdrop {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Assets/business.jpg");
  overflow: hidden;
  width: 100%;
  height: 70%; }
  .backdrop .back {
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); }
    .backdrop .back > * {
      font-weight: 100;
      color: #ffffff;
      font-size: 20px;
      width: 100%;
      align-self: center;
      text-align: center; }

p#sec-3 {
  text-align: -webkit-auto;
  font-size: 13px;
  margin: 0; }

.sec-3 {
  flex-direction: row;
  justify-content: space-evenly; }
  .sec-3 a {
    margin-right: auto;
    line-height: 18px;
    font-size: 12px;
    text-decoration: none; }
  .sec-3 ul {
    padding: 0px; }
  .sec-3 li {
    list-style: none; }

.intro {
  width: 90%;
  padding: 5px;
  flex: 0 0 250px;
  margin: 0; }

.sec-3 {
  flex-wrap: wrap; }
  .sec-3 a {
    color: midnightblue; }
  .sec-3 p {
    color: midnightblue; }
  .sec-3 > * {
    flex-direction: column; }
    .sec-3 > * h6 {
      color: #037ef3;
      margin-right: auto; }

.alpha-outer {
  height: 110px;
  width: 110px;
  background-color: #52c9ef;
  border: 10px solid #ffffff;
  margin: 10px 20px; }

.arrow, .arrow-left, .arrow-right {
  padding-top: 15px;
  font-weight: lighter;
  font-size: 100px;
  color: #c1a288;
  cursor: pointer; }

.arrow-left {
  margin-right: auto; }

.arrow-right {
  margin-left: auto; }

.alpha-outer-container {
  overflow: hidden;
  // flex: 0 0 73%; 
}

.alpha-inner-container {
  left: 0;
  position: relative;
  transition: 0.9s; }

#footer-nav {
  position: fixed;
  background-color: #037ef3;
  height: 50px;
  width: 100%;
  bottom: 0; }
  #footer-nav .footer-msg {
    color: #ffffff;
    font-weight: 300;
    text-align: start;
    padding: 0 20px; }

#responsive-applybtn {
  display: none;
  border: none;
  width: 100%;
  position: fixed;
  padding: 10px 20px;
  bottom: 0px; }

#res-loginbtn {
  cursor: pointer;
  border: none;
  margin: auto;
  border-radius: 2px;
  font-size: 22px;
  color: #ffffff;
  background-color: #037ef3;
  bottom: 0;
  padding: 5px 10px;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3); }

@media only screen and (max-width: 1100px) {
  header {
    width: 100% !important;
    margin-top: 50px; }

  .header-outer {
    width: 100% !important; }

  .header-inner {
    width: 100% !important;
    display: none !important; }

  .header-content {
    width: 100% !important; }

  .heading {
    font-size: 25px;
    padding-top: 75px; }

  .sub-heading {
    margin-bottom: 50px;
    font-size: 15px; }

  .main-nav {
    display: none;
    width: 100% !important; }

  .responsive-nav {
    box-shadow: 0px 0px 6px 1px rgba(122, 122, 122, 0.8);
    display: block; }

  .header-loginbtn, .aside-loginbtn {
    display: none; }

  main {
    margin-right: 10px;
    width: 100%; }
    main > * {
      width: 90%;
      margin-left: auto;
      margin-right: auto; }

  .main-content > * {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }

  .section-content {
    flex-direction: column; }

  .head3 {
    padding-top: 0; }

  #article > * {
    width: 100%; }

  aside {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    background-color: #f9f9f9;
    border: #9a9a9a;
    border-left-style: solid;
    border-left-width: 0.1px;
    border-right-style: solid;
    border-right-width: 0.1px;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    border-top-width: none;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.45);
    clear: both;
    margin-bottom: 20px; }

  .aside-loginbtn {
    display: none; }

  .sec1-tab {
    width: 100%; }

  .one {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
    .one > * {
      width: 100%;
      height: auto; }

  footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    footer > * {
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      footer > * .sec-2 .alpha-outer-container {
        // flex: 0 0 60%;
  }

  #footer-nav {
    display: none;
    height: auto;
    width: 100%; }

  .side-content {
    width: 100%; }

  .sec2-tab {
    height: 250px;
    width: 250px; }

  .map-inner {
    width: 100% !important; }

  .arrow, .arrow-left, .arrow-right {
    font-size: 80px; }

  #responsive-applybtn {
    display: block; }

  .sec-3 {
    height: auto;
    display: flex;
    flex-direction: column; }
    .sec-3 > * a {
      color: #555;
      font-size: 14px !important; }
      .sec-3 > * a:hover {
        color: #037ef3; }
    .sec-3 > * li {
      margin: 15px 0px; }

  .sec-3:not(:first-child) {
    width: 100%;
    padding-left: 20px !important; }

  .intro {
    flex: 0;
    margin: auto; }

  .linkedList.expand {
    height: 100%;
    transition: 1s; }
    .linkedList.expand .footer-links {
      display: block; }
    .linkedList.expand .footer-link-heading:after {
      content: '-'; }

  .footer-links {
    display: none;
    padding-left: 20px; }

  .footer-link-heading {
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer-link-heading::after {
      padding-right: 20px;
      content: "+";
      color: #037ef3;
      font-weight: lighter;
      font-size: 30px;
      line-height: 19px; }
    .footer-link-heading > p {
      font-weight: 600;
      color: #037ef3;
      font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
