

//----------Importing all the dependencies from styles folder

@import "mixins";
@import "variables";

@import "colors";
@import "type";
@import "placeholders";





//--------------Explicitly adding background to navbar while scrolling 

.add-background{
    background-color: $blue;
    transition: 0.5s;
    z-index: 1;
}

//------------To make disable arrow

.disable{
    pointer-events: none;
    opacity: 0.3;
}





//-------------Regular SCSS 

*{
	box-sizing:border-box;
}

body{
	font-family: $app-font;
	margin: 0;
}





//------Related to Header section


header{
	@include background-cover("../Assets/back.jpg");
	overflow: hidden;
    width: 100%;
    .header-outer{
    	 background-color: rgba(0, 0, 0, 0.7);
    	.header-inner{
		    height: 50px;
		    position: fixed;
		    width: 100%;
		    justify-content: space-around;
		    @extend %flex;
		    &.add-background {
		    	.header-navbtn {
		    		background-color: white;
		    		color: $blue;
		    		transistion: 0.2s;
		    	}
		    }
		}
		.header-content{
			width: 100%;
		    @include push-auto;
		    .header-details{
				flex-direction: column;
			    text-align: center;
			    @extend %flex;
			}
		}
	}
}

nav{
	@extend %flex;
}

nav.header-navs {
	> a {
	@include a-prop(1, 17, $white, lighter);
    margin: 15px 7px;
	}
}

.heading{
    margin-bottom: 2px;
	color: $white;
	padding-top: 100px;
    font-size: 36px;
}

.sub-heading{
	color: $white;
	padding: 10px;
    font-size: $font20;
}


.header-loginbtn{
    margin: $font20 auto 120px auto;
	font-size: $font20;
	@extend %link;
	border: none;
    color: $blue;
    background: none;
	border-radius: 2px;
    padding: 15px 40px;
    min-width: 100px;
    background-color:$white;
    &:hover {
    	background-color: $blue;
    	color: $white;
    }
}

.active{
	padding-bottom: 26px;
    padding-top: 20p;
    color: #1c7ef4;
    border-bottom: 2px solid #1c7ef4;
}

.divider{
	border-radius: 2px;
    border-left: 3px solid white;
    height: 40px;
    margin-top: 5px;
}

.header-navbtn{
	font-size: 17px;
	color: $white;
	margin: 10px 5px;
	cursor: pointer;
    border: none;
    background: $blue;
    border-radius: 2px;
}

#logo{
	height:43px;
}

i{
	vertical-align: middle;
}

.responsive-nav{
	display:none;
	position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0px;
    z-index: 1;
    height: 50px;
	transition: 0.5s;
	overflow: hidden;
    &.expand-list {
		display:block;
    	height: 100%;
    	transition: 0.3s;
    }
}

.nav-wrapper{
	background-color: $white;
}

.res-navbar{
	background-color:$white;
	height:50px;
	width: 100%;
	box-shadow: 0px 0px 3px 0px rgba(122, 122, 122, 0.8);
}

.resp-navs{
    margin-top: 5px;
    padding-bottom: 30px;
	background-color:$white;
	height:200px;
	width: 100%;
}

.nav-alpha{
	color: $blue;
	margin: 0;
    font-size: 33px;
    padding: 5px 15px;
    font-style: italic;

}

.nav-section{
	margin:auto;
	@extend %border-bottom;
	width:90%;
	padding: 15px 0;
	display:flex;
	flex-direction: column;
}

.nav-list{
	padding: 15px 0 0 20px;
	@include a-prop(0, 18, $grey, 400);
}

.fa{
	color: $border-color;
	padding: 0 10px;
}

//---------Related to floating side Bar 

.aside-loginbtn{
	@extend .header-loginbtn;
	color: $white;
    background-color: $blue;
    padding: 15px;
    border-radius: 2px;
    font-weight: normal;
    font-size: 18px;
    margin: 10px auto;
    border:1px solid $blue;
    &:hover{
    	background-color:$white;
    	color: $blue;
    	
    }	
}

aside{
	position: absolute;
	@include box(400,auto,$white);
	height:auto;
    top: auto;
    left: auto;
    right: 0;
	border-color: $border-color;
    border-left-style: solid;
    border-left-width: 0.1px;
    border-right-style: solid;
    border-right-width: 0.1px;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    border-top-width: none;
    box-shadow: 4px 4px 10px 0 rgba(122, 122, 122, 0.3);
    float: right;
    .aside-content{
    	@extend %flex;
    	flex-direction: column;
    	margin: auto;
    	width: 90%;
    	img{
    		margin: auto;
		    height: 125px;
		    width: 250px;
		          max-width: 100%;
    	}
    	div{		    
    		width: 100%;
		    @extend %flex;
		    flex-direction: column;
		    margin-left: auto;

		    .first{
		    	align-items: flex-start;
		    	margin: 10px auto;
		    }
		    .second{
	    	    justify-content: space-evenly;
				flex-flow: row;
				margin: 10px auto;
				#duration{
					padding-top: 16px;
				}
		    }
		    .third{
		    	@extend .second;
		    	justify-content: space-between;
		    }
    	}
    	
    }
}

.aside-head{
    color: #9b9b9b;
    font-weight: 600;
    font-size: 12px;
	margin-bottom:15px;
}

.aside-p{
	margin:5px;
}

.bottom-border{
	@extend %border-bottom;
    padding-bottom: 10px;
}

h6{
    font-size: 15px;
    margin-top: 5px;
}

.reducedInequalities{
	display:flex;
}

.reducedInequalities-icon{
	background-image: url("../Assets/reduced-image.png");
	height:70px;
	width:70px;
	background-size: contain;
}

.reducedInequalities-text{
	width:60%;
}

.reducedInequalities-link{
    margin-top: 5px;
	@include a-prop(0, 12, $blue, 400);
}

.reducedInequalities-side{
	display:flex;
	flex-flow:column;
	align-items: center;
    text-align: center;
}

//-----------Related to the second navbar above main content

#main-nav{
	position: absolute;
	@include box(800,45,$white);
    top: auto;
    left: auto;
    .main-navs{
	    @extend %border-bottom;
		@extend %flex;
	    justify-content: space-around;
	    height: 100%;
	    > a {
	    	@include a-prop(0.5, 17, $black, 400);
			margin: 10px 5px;
		}
	}
}





//------------Related to Main content 

.article {
    position: relative;
    .main-content{
	    width:750px;
	    padding-top:40px;
	    > * p{
	    	margin: 8px 0;
	    	font-weight: 400;
	    }
	    > * li{
	    	font-size: 17px;
	    	font-weight: 400;
	    	padding: 8px 0;
	    }
	}
}

.head{
	font-size: $font20;
	font-weight: 400;
}

.head1{
	@extend .head;
	font-size: 17px;
	padding-top: 20px;
}

.head2{
	@extend .head;
	font-size: 17px;
	padding-top: 20px;
}

.head3{
	@extend .head;
	font-size: 15px;
	padding-top: 20px;
}

.head4{
	font-size: 12px;
	padding-top: 20px;
	font-weight: lighter;
}

main{
	color:$grey;
    margin: 0 120px;
	background-color: $white;
	width: 1200px;
    @include push-auto;
}

.main-header {
}

.side-header{
	width: 140px;
}

.side-content{
	top: 0;
    margin-left: auto;
    width: 552px;
}

.section-content{
	margin:20px auto;
	@extend %flex;
}

section{
	margin-top: 50px;
}

.map{
    height: 150px;
    background-color: beige;
}

.one{
    @extend %flex;
	margin-top: 50px;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.45);
	background-color: $white;
	height: 400px;
	flex-wrap:wrap;
}	

.map-inner{
	width:100% !important;
	height: 100% !important;
}

.footer-head{
	text-align:center;
	font-weight: 500;
    color: #555;
    font-style: italic;
    font-size: 30px;
}

.sec1{
	@include box(450,400,$lightgray);
}

.sec2{
	@include box(750,400,$lightgray);
	@extend %flex;
	align-items:center;
}

p.section-text{
    text-align: center;
    font-size: 20px;
    font-family: 'Bellefair', serif;
    font-style: italic;
    margin: 20px;
}

.sec2-content{
    @extend %flex;
    flex-direction:column;
    margin: 10px;
}


#icons{
    @extend %flex;
    justify-content: space-evenly;
    margin-left: 20px;
	flex-wrap: wrap;
    div {
    	 > img *{
    		width: 50px;
		}
		p{
			text-align: center;
		}
    }
   
}

.sec1-tab{
	padding:15px;
	height: auto;
    width: 30%;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px 0 rgba(122, 122, 122, 0.3);
    border-top: 5px solid #037ef3;
}

.tabs{
	text-align: center;
    font-size: 20px;
}

.tab-text{
	color: #4A4A4A;
    font-size: 16px;
    text-align: center;
    padding: 25px;
}

.sec2-tab{
	@include box(320,320,$lightgray);
    transition: 0.5s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.45);
    margin: 20px 0;
}

.sec2-tab:hover{
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.45);
}

#section1{
	flex-wrap: wrap;
    @extend %flex;
    justify-content: space-evenly;
    > * {
    		margin: 20px;
    }
}





//-----------Related to footer section

footer{
	width: 1200px;
    margin-top:50px;
    width:100%;
    background-color:#f9f9f9;
}

#footer-section{
    @include push-auto;
    > *{
       	margin: 50px 0px;
    }
	&:first-child{
   		padding: 20px 0;
	}
}

#tabs{
    @extend %flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.backdrop{
	@include background-cover("../Assets/business.jpg");
    overflow:hidden;
    width: 100%;
    height: 70%;
    .back{
	    @extend %flex;
	    height:100%;
	    color:white;
	    background-color: rgba(0,0,0,0.6);
	    > * {
		    font-weight: 100;
		    color: $white;
		    font-size: 20px;
		    width: 100% ;
		    align-self: center;
		    text-align:center;
		}
	}
}


p {
	&#sec-3{
        text-align: -webkit-auto;
        font-size: 13px;
        margin:0;
	}
}

.sec-3{
    @extend %flex;
    flex-direction: row;
    justify-content: space-evenly;
    a{
	    margin-right: auto;
	    line-height: 18px;
	    font-size: 12px;
	    text-decoration: none;
    } 
    ul{
        padding: 0px;
    }
    li{
    	list-style:none;
    }
}

.intro{
	width:90%;
	padding: 5px;
    flex: 0 0 250px;
    margin: 0;
}
   
.sec-3 {
	flex-wrap:wrap;
	a{
		color: midnightblue;
	}
	p{
		color: midnightblue;
	}
	> *{
	    @extend %flex;
	    flex-direction: column;
	    h6 {
		    color: $blue;
		    margin-right: auto;
	    }
	 }

}

.alpha-outer{
	@include box(110,110,$lightblue);
    border: 10px solid $white;
    margin: 10px 20px;
}

#alpha{
    @extend %flex;
}
.arrow{
	padding-top: 15px;
	font-weight: lighter;
    font-size: 100px;
    color: #c1a288;
    cursor: pointer;
}
.arrow-left{
	@extend .arrow;
	margin-right:auto;
}

.arrow-right{
	@extend .arrow;
    margin-left:auto;
}
.alpha-outer-container{
    overflow: hidden;
    @extend %flex;
}

.alpha-inner-container{
    left:0;
    @extend %flex;
    position: relative;
    transition: 0.9s;
}


#footer-nav{
	position: fixed;
    background-color: $blue;
    height: 50px;
    width: 100%;
    bottom: 0;
    .footer-msg{
		@extend nav.header-navs;
		color: $white;
		font-weight: 300;		
		text-align: start;
		padding: 0 20px;
	}
}
#responsive-applybtn{
	display: none;
	border:none;
	width: 100%;
    position: fixed;
    padding: 10px 20px;
    bottom: 0px;
}

#res-loginbtn{
	cursor: pointer;
	border:none;
	margin:auto;
	border-radius:2px;
	font-size: 22px;
    color: $white;
    background-color: $blue;
    bottom: 0;
    padding: 5px 10px;
    width: 100%;
    box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.3);
}





//-----------------Variables used to specify width

$parentWidth : 100%;
$childWidth : 90%;

//------------------Below Media queries will be applicable up to 1100px of window width

@media only screen and (max-width: 1100px){
	header{
		width: $parentWidth !important;
		margin-top: 50px;
	}
	.header-outer{
		width: $parentWidth !important;
	}
	.header-inner{
	    width: $parentWidth !important;
	    display:none !important;
	}
	.header-content{
	    width: $parentWidth !important;
	}

	.heading{
		font-size:25px;
		padding-top: 75px;
	}
	.sub-heading{
		margin-bottom:50px;
		font-size:15px;
	}
	.main-nav{
		display:none;
		width: $parentWidth !important;
	}
	.responsive-nav{
		box-shadow: 0px 0px 6px 1px rgba(122, 122, 122, 0.8);
		display:block;
	}
	.header-loginbtn{
		display:none;
	}
	main{
	    margin-right: 10px;
		width: $parentWidth;
		> *{
			width:$childWidth;
	    	@include push-auto;
		}
	}

	.main-content{
		> * {
			width: $parentWidth;
			@include push-auto;
		}
	}

	.section-content{
		flex-direction:column;
	}

	.head3{
		padding-top:0;
	}

	#article{
		> *{
			width: $parentWidth;
		}
	}

	aside{
		width: $parentWidth;
	    @include push-auto;
		position: relative !important;
	    background-color: #f9f9f9;
	    border: $gray;
	    border-left-style: solid;
	    border-left-width: 0.1px;
	    border-right-style: solid;
	    border-right-width: 0.1px;
	    border-bottom-style: solid;
	    border-bottom-width: 0.1px;
	    border-top-width: none;
	    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.45);
	    clear: both;
	    margin-bottom: 20px;
	}

	.aside-loginbtn{
		display:none;
	}

	.sec1-tab{
	   width: 100%;
	}

	.one{
		width:$parentWidth;
		height: auto;
		@include push-auto;
		> * {
			width:$parentWidth;
			height:auto;
		}
	}
	
	footer{
		width: $parentWidth;
		@include push-auto;
		> * {
			width: $parentWidth;
			@include push-auto;
			.sec-2{
				.alpha-outer-container{
// 					flex: 0 0 60%;
				}
			}
		}
	}

	#footer-nav{
		display:none;
		height:auto;
		width: $parentWidth;
	}
	.side-content{
		width: $parentWidth;
	}

	.sec2-tab{
		height: 250px;
    	width: 250px;
	}

	.map-inner{
		width: $parentWidth !important;
	}

	.arrow{
		font-size:80px;
	}

	#responsive-applybtn{
		display:block;
	}

	.sec-3{
	    height: auto;
		display: flex;
    	flex-direction: column;
		> * a{
			color:#555;
			font-size:14px !important;
			&:hover{
				color:$blue;
			}
		}
		> * li{
			margin: 15px 0px;
		}
    	
	}

	.sec-3:not(:first-child){
		width:100%;
		padding-left: 20px !important;
	}

	.intro{
	    flex: 0;
		margin:auto;
	}

	.linkedList {
		&.expand {
			height: 100%;
			transition: 1s;
			.footer-links {
				display: block;
			}
			.footer-link-heading {
				&:after {
					content: '-';
				}
			}
		}
	}


	.footer-links{
	    display: none;
		padding-left:20px;
	}
	.footer-link-heading{
		cursor:pointer;
	    border-bottom: 1px solid #cccccc; 
		font-weight:bold;
		display: flex;
	    justify-content: space-between;
	    align-items: center;
		&::after{
			padding-right: 20px;
		    content: "+";
		    color: #037ef3;
		    font-weight: lighter;
		    font-size: 30px;
		    line-height: 19px;
		}
		> p {
			font-weight: 600;
			color:$blue;
			font-size:16px;
		}
	}

}

